<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1003318174807-j8nb5m9r36ra9ali4feag65pvp2tq58b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003318174807-j8nb5m9r36ra9ali4feag65pvp2tq58b</string>
	<key>API_KEY</key>
	<string>AIzaSyCITYGMj4eymNeNmiwP5sADjaGRQWEZoo8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003318174807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.kremeran.PocketCloset</string>
	<key>PROJECT_ID</key>
	<string>pocketclosetbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketclosetbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003318174807:ios:0582d9256376c58b</string>
	<key>DATABASE_URL</key>
	<string>https://pocketclosetbackend.firebaseio.com</string>
</dict>
</plist>